name: Deploy static content to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Permissions and Create Artifact
        run: |
          chmod -c -R +rX "docs" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
          cd "docs"
          tar -cvf "$RUNNER_TEMP/artifact.tar" \
            --exclude=.git \
            --exclude=.github \
            .
        shell: /usr/bin/sh -e {0}

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: pages-artifact
          path: ${{ runner.temp }}/artifact.tar

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: pages-artifact
          path: ${{ runner.temp }}/artifact.tar

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
